<div class="container max-width: 1280px">
    <div class="titulo" style="background-color: #263238; color: #63EC89; padding-top: 50px; padding-left: 30px;">
        <h2>APRENDE</h2>
    </div>
        <div class="row">
            <div class="col-md-2" style="padding-top: 50px;">
                <ul class="nav flex-column" style="  list-style-type: none; margin: 0; padding: 0; width: 200px; background-color: #f1f1f1; border-radius: 15px;">
                    <li class="nav-item" style="background-color: #63EC89;
                    color: white;">
                        <a class=" nav-link active " style="display: block; color: #000; padding: 8px 16px; text-decoration: none; font-weight: 700; " href="# ">TEMAS</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " style="display: block; color: #000; padding: 8px 16px; text-decoration: none; " href="# ">Reciclaje</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " style="display: block; color: #000; padding: 8px 16px; text-decoration: none; " href="# ">Macetero Autoregable</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " style="display: block; color: #000; padding: 8px 16px; text-decoration: none; " href="# ">Terapia Hortícola</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/T9fu3KEg78k " title="YouTube video player " frameborder="1 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">Ley de fomento al reciclaje </h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/qDbxCUOyLWc " title="YouTube video player " frameborder="1 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">Reciclaje: Todos Ganamos #ReportajesT13 </h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/IoWmF0fo2Wc " title="YouTube video player " frameborder="1 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">¿Cómo reciclar?</h5>
            </div>
            <div class="col-md " style="padding-top: 50px; ">

            </div>
            <div class="col-md-2 "></div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">Video del Ministerio del Medio Ambiente de Chile que explica en qué consiste la Ley de Fomento al Reciclaje.</p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">Recompensas por reciclar.</p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">Aprende a reciclar tus desechos.</p>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-3" style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/2Pq4z8waZQE" title="YouTube video player " frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">Diferencias entre vidrio y cristal</h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " border-radius="15 " src="https://www.youtube.com/embed/ETqlNL1i6s8" title="YouTube video player " frameborder="1 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">¿Cómo es vivir generando cero desechos?</h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/S2mV4xTPBXI" title="YouTube video player " frameborder="1 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">Experta explicó la ideología "basura cero"</h5>
            </div>
            <div class="col-md " style="padding-top: 50px; ">

            </div>
            <div class="col-md-2 "></div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;"> ¿Quieres saber cuál es la diferencia entre VIDRIO y CRISTAL? En este vídeo de EcologíaVerde te enseñan CÓMO DIERENCIARLOS y RECICLARLOS correctamente.</p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">Entrevista a chilenos que generan conciencia.</p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">La directora ejecutiva de la Fundación Basura, Macarena Gajardo, visitó el estudio de Una Nueva Mañana para explicar la nueva tendencia mundial llamada "basura cero" que busca prevenir el reciclaje.</p>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300" height="auto " src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;"></h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300" height="auto" border-radius="15" src="" title="YouTube video player " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;"></h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300" height="auto" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;"></h5>
            </div>
            <div class="col-md " style="padding-top: 50px; ">

            </div>
            <div class="col-md-2 "></div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;"></p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;"></p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;"></p>
            </div>
            <div class="col-md "></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/EE2YmAihBr4" title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">La jardinería la mejor terapia para la salud y el estrés</h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " border-radius="15 " src="https://www.youtube.com/embed/0Z8Iv_ND7Zw?start=91" title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">Los beneficios de la Terapia Hortícola y la horticultura terapéutica</h5>

            </div>
            <div class="col-md-3 " style="padding-top: 50px; ">
                <iframe width="300 " height="auto " src="https://www.youtube.com/embed/34zSTnHgL0g" title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
                <h5 class="titulos" Style="text-align: center; font-weight: 400;">Huertos terapéuticos: cultivando la mente</h5>
            </div>
            <div class="col-md " style="padding-top: 50px; ">

            </div>
            <div class="col-md-2 "></div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">Cuidar plantas para mejorar la salud mental y física</p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;"> Conversatorio con la terapeuta hortícola Leila Alcalde Banet sobre qué es la terapia hortícola y qué beneficios tiene para la salud de las personas, tanto físico, emocional como también a nivel mental y social. </p>
            </div>
            <div class="col-md-3 ">
                <p class="texto" style="color:aliceblue; text-align: center;">Ante los problemas de salud, no todo es fármaco, es el caso de las terapias ocupacionales. Estas no pretenden ser un sustituto de los tratamientos convencionales, pero indicadas de manera complementaria, los beneficios son claros.
                </p>
            </div>
            <div class="col-md "></div>
        </div>

    
</div>
