<div class="container">
    <div class="titulo" style="background-color: #263238; color: #63EC89; padding-top: 50px">
        <h2>TERAPIA HORTÍCOLA</h2>
    </div>
    <br>
    <br>
    <div class="row row-cols-4">
        <div class="col-5 p-5">
            <%= image_tag("terapia1.png", :class => "terapia")%>
        </div>
        <div class="col-6 ml-5 pt-5 pr-5">
            <h4 style="color: #63EC89">¿Qué es la Terapia Hortícola?</h4>
            <hr size="2px" color="#63EC89"/>
            <p class="parrafo text-justify" style="color: #DCDCDC">Es el proceso en el cual las personas pueden desarrollar un bienestar físico, mental y espiritual a través del cultivo de plantas y el contacto con un medio natural. Tanto la apreciación pasiva de la naturaleza como una participación activa en el jardín y el cultivo de diferentes especies influye positivamente en las emociones, la salud y el comportamiento. Los seres humanos poseemos tendencias innatas que nos atraen instintivamente hacia un ambiente natural (Biofilia, Wilson, 1984) en el cual encontrar la tranquilidad, la paz y la espiritualidad necesarias para subsistir con plenitud y salud mental.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="row row-cols-4">
        <div class="col-6 pl-5 pt-5 pb-5">
            <h4 style="color: #63EC89">¿Quiénes pueden beneficiarse con este tipo de terapia?</h4>
            <hr size="2px" color="#63EC89"/>
            <p class="parrafo text-justify" style="color: #DCDCDC">En la sociedad cambiante y acelerada de hoy, tenemos dificultad para saber sobrellevar el día a día, lo cual resulta en estrés, ansiedad y eventuales procesos de enfermedad, dice Mitchell. Las personas deprimidas y ansiosas vuelven - a través de la terapia hortícola- a ser positivas, y al cuidar de las plantas y ser conscientes de su entorno son capaces de reconocer estas habilidades y proyectarlas a su familia y a la comunidad. En el adulto mayor se estimulan las ganas de vivir y hacer algo significativo con su vida. A través de actividades creativas que promueven el optimismo, la seguridad en si mismo y la autoestima, el ánimo de las personas depresivas cambia en el invernadero.</p>
        </div>
        <div class="col-5 pt-5 pb-5">
            <%= image_tag("terapia2.png", :class => "terapia")%>
        </div>
    </div>
</div>