@import "bootstrap";

body {
  padding-top: 3.5rem !important;
}

.style_logo {
    width: 140px;
  }

.style_rrss {
    width: 50px;
    padding-right: 10px;
    margin-top: 10px;
  }

.style_slide {
  width: 1110px;
}

.style_imgparrafo {
  width: 60px;
  height: auto;
  vertical-align: top;
  text-align: left;
  display: inline-block;
}

.titulo {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.img-tienda {
  display: inline-block;
  vertical-align: top;
}

.botella {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.terapia {
  display: inline-block;
  vertical-align: top;
  width: 450px;
}